
body {
  background-color: white;
  color: black;
}

.navbar, footer {
  background-color: black;
  color: white;
}

.navbar-brand {
  font-size: x-large;
  font-weight: bold;
}

h1 {
  text-align: left;
}

.container .row {
  display: flex;
  flex-wrap: wrap;
}

.container .row .col-form {
  flex: 0 0 70%;
  max-width: 70%;
}

.container .row .col-img {
  flex: 0 0 90%;
  max-width: 90%;
  text-align: left;
}

.container img {
  max-width: 100%;
  height: auto;
}